import numpy as np
import pandas as pd
from datetime import datetime
import babel.dates as bd

# Carregar a base de dados
base = pd.read_excel('vendas_anuais.xlsx')

# Perguntar ao usuário quantos dias
dias_requeridos = int(input('Quantos dias?: '))

# Obter a data atual
dia_hoje = datetime.now()

# Inicializar conjuntos e listas
todosNomes = set()
vendasReq = []
nomesReq = []
telReq = []
nmrReq = []
# Percorrer a base de dados de trás para frente
for index in range(len(base)-1, -1, -1):  # Iterar do último para o primeiro
    x = base.iloc[index]  # Obter a linha
    nome = x[1]
    data = x[2]
    nmr = x[11]
    tel = x[12]
    compra = x[20]

    # Formatar a data
    data_formatada = pd.to_datetime(data)

    # Calcular dias desde a última venda
    dias_vendidos = (dia_hoje - data_formatada).days

    # Verificar se o nome já foi adicionado
    if nome.strip().casefold() not in todosNomes:
        todosNomes.add(nome.strip().casefold())


        # Se os dias vendidos forem maiores ou iguais aos dias requeridos
        if dias_vendidos >= dias_requeridos:
            vendasReq.append(bd.format_date(data_formatada, locale='de_DE'))
            nomesReq.append(nome)
            nmrReq.append(nmr)
            telReq.append(tel)

# Imprimir o número de vendas requeridas
print(len(nomesReq))

# Criar um DataFrame com os dados coletados
# dados = {
#     'Nome': nomesReq,
#     'Última Venda': vendasReq,
#     'Número': nmrReq,
#     'Telefone': telReq
# }
# df = pd.DataFrame(dados)

# # Salvar o DataFrame em um arquivo Excel
# df.to_excel('vendas_filtradas.xlsx', index=False)

def buscar_nome(nome):
    n = nome
    for x, ve, nm, tel in zip(nomesReq, vendasReq, nmrReq, telReq):
        if n == x:
            print("Nome encontrado: ", x)
            print("Última venda: ", ve)
            print("Número: ", nm)
            print("Tel: ", tel)
            break

# Para mostrar os nomes e as últimas compras
for nome, venda, nmr, tel in zip(nomesReq, vendasReq, nmrReq, telReq):
    print("Nome:", nome)
    print("Última Compra:", venda)
    print("Número: ", nmr)
    print("Telefone: ", tel)
    print("-" * 10)

buscar_nome(input('Escreva um nome que deseja encontrar: '))
